@model IEnumerable<Vegan_Market.Models.Product_Command>

@{
    ViewBag.Title = "DateCommand";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


<style>
    .filter-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

        .filter-form label {
            margin-right: 10px;
        }

        .filter-form input[type="date"] {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .filter-form input[type="submit"] {
            padding: 5px 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
</style>
<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">

    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">

        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">



            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                    Customer Reviews
                </h1>
                <!--end::Title-->

            </div>
            <!--end::Page title-->
            <!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content  flex-column-fluid ">


        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container  container-xxl ">
            <!--begin::Products-->
            <div class="card card-flush">

                <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">
                            <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4"><span class="path1"></span><span class="path2"></span></i>                <input type="text" data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-12" placeholder="Search Order" />
                        </div>
                        <!--end::Search-->
                    </div>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">


                        <div class="filter-form">
                            <form action="@Url.Action("DateCommand", "Product_Command")" method="get">
                                <label for="startDate">Başlangıç Tarihi:</label>
                                <input type="date" name="startDate" id="startDate" required>

                                <label for="endDate">Bitiş Tarihi:</label>
                                <input type="date" name="endDate" id="endDate" required>

                                <input type="submit" value="Filtrele">
                            </form>
                        </div>


                    </div>
                    <!--end::Card toolbar-->
                </div>

                <!--begin::Card body-->
                <div class="card-body pt-0">

                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_products_table">
                        <thead>
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th class="w-10px pe-2">
                                    <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                        <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_ecommerce_add_product_reviews .form-check-input" value="1" />
                                    </div>
                                </th>
                                <th class="min-w-125px">Rating</th>
                                <th class="min-w-175px">Customer</th>
                                <th class="min-w-175px">Comment</th>
                                <th class="min-w-100px text-end fs-7">Product</th>
                                <th class="min-w-100px text-end fs-7">Date</th>
                            </tr>
                        </thead>

                        @foreach (var command in Model)
                        {
                            <tbody>

                                <tr>
                                    <td>
                                        <!--begin::Checkbox-->
                                        <div class="form-check form-check-sm form-check-custom form-check-solid mt-1">
                                            <input class="form-check-input" type="checkbox" value="1" />
                                        </div>
                                        <!--end::Checkbox-->
                                    </td>
                                    <td data-order="rating-5">
                                        <!--begin::Rating-->
                                        <div class="rating">
                                            @command.rating<img src="~/image/star.png" />


                                        </div>
                                        <!--end::Rating-->
                                    </td>
                                    <td>
                                        <a href="#" class="d-flex text-dark text-gray-800 text-hover-primary">
                                            <!--begin::Avatar-->
                                            <!--end::Avatar-->
                                            <!--begin::Name-->
                                            <span class="fw-bold">@command.Customer.customer_name</span>
                                            <!--end::Name-->
                                        </a>
                                    </td>
                                    <td class="text-gray-600 fw-bold">
                                        @command.command_text
                                    </td>
                                    <td class="text-end">
                                        <span class="fw-semibold text-muted">@command.Product.product_name</span>
                                    </td>
                                    <td class="text-end">
                                        <span class="fw-semibold text-muted">@command.command_date.ToShortDateString()</span>
                                    </td>
                                </tr>





                            </tbody>
                        }
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Products-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->






</div>
<!--end::Content wrapper-->
