@model IEnumerable<Vegan_Market.Models.Product_Command>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.command_text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.command_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.customer_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.product_name)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.command_text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.command_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.product_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.command_id }) |
                @Html.ActionLink("Details", "Details", new { id=item.command_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.command_id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
