@model IEnumerable<Vegan_Market.Models.Address>

@{
    ViewBag.Title = "AdresList";
    Layout = "~/Views/Shared/_Web_Layout.cshtml";
}



<aside id="notifications">
    <div class="notifications-container container">
    </div>
</aside>
<div class="container">
    <div data-depth="2" class="breadcrumb-bg center breadcrumb-full" style=" background-color:#f4f1eb;background-image: url(); min-height:65px; ">
        <div class="container">
            <nav data-depth="2" class="breadcrumb hidden-sm-down">
                <ol>
                    <li>
                        <a href="@Url.Action("Index","Home")"><span>Home</span></a>
                    </li>
                    <li>
                        <span>Adres Bilgilerim</span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div id="content-wrapper" class="col-lg-12 col-xs-12 js-content-wrapper">
            <section id="main">
                <header class="page-header">
                    <h1>
                        Adreslerim
                    </h1>
                </header>
                <section id="content" class="page-content page-cms page-cms-8">
                    <div class="container container-parent"></div> <div data-elementor-type="post" data-elementor-id="32" class="elementor elementor-32" data-elementor-settings="[]">
                        <div class="elementor-inner">

                            <div class="elementor-section-wrap">
                                <section class="elementor-element elementor-element-e4111b2 elementor-section-boxed elementor-section-height-default elementor-section-height-inner-default elementor-section elementor-top-section" data-id="e4111b2" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-row">

                                            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_products_table">
                                                <thead>
                                                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                                        <th class="w-10px pe-2">
                                                           
                                                        </th>

                                                        <th class="min-w-200px">Ülke</th>
                                                        <th class="text-end min-w-100px"></th>
                                                        <th class="text-end min-w-70px">Şehir</th>

                                                        <th class="text-end min-w-100px"></th>
                                                        <th class="text-end min-w-100px">İlçe</th>
                                                        <th class="text-end min-w-100px">Adres</th>

                                                        <th class="text-end min-w-70px"></th>
                                                        <th><a href="@Url.Action("New_Adres","Addresses")" class="btn btn-primary" style="width:150px;height:30px;align-content:center; display: flex; align-items: center; justify-content: center;"> Adres Oluştur</a></th>
                                                    </tr>
                                                </thead>
                                                @foreach (var adress in Model)
                                                {



                                                    <tbody class="fw-semibold text-gray-600">
                                                        <tr>
                                                            <td>
                                                                
                                                            </td>
                                                            <td>
                                                                @adress.country
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td class="text-end pe-0" data-order="25">
                                                                @adress.city
                                                            </td>
                                                            <td class="text-end pe-0">
                                                            </td>
                                                            <td class="text-end pe-0">
                                                                @adress.town
                                                            </td>
                                                            <td class="text-end pe-0">
                                                                @adress.address_text
                                                            </td>
                                                            <td class="text-end pe-0">
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Düzenle", "Edit", new { id = adress.adress_id }) |
                                                                @Html.ActionLink("Sil", "remove_Adress", new { id = adress.adress_id })
                                                            </td>

                                                        </tr>





                                                    </tbody>


                                                }



                                               




                                            </table>

                                        </div>
                                    </div>
                                </section>


                            </div>
                        </div>
                    </div>
                </section>
                <footer class="page-footer">
                </footer>
            </section>
        </div>
    </div>
</div>


