@model Vegan_Market.Models.FAQ

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FAQ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.question_txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer_txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer_txt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FaqId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
