@model IEnumerable<Vegan_Market.Models.Stores>

@{
    ViewBag.Title = "Stores";
    Layout = "~/Views/Shared/_Web_Layout.cshtml";
}
<aside id="notifications">
    <div class="notifications-container container">
    </div>
</aside>
<div class="container">
    <div data-depth="2" class="breadcrumb-bg center breadcrumb-full" style=" background-color:#f4f1eb;background-image: url(); min-height:65px; ">
        <div class="container">
            <nav data-depth="2" class="breadcrumb hidden-sm-down">
                <ol>
                    <li>
                        <a href="@Url.Action("HomePage","Home")"><span>Home</span></a>
                    </li>
                    <li>
                        <span>Şubelerimiz</span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div id="content-wrapper" class="col-lg-12 col-xs-12 js-content-wrapper">
            <section id="main">
                <header class="page-header">
                    <h1>
                        Şubelerimiz
                    </h1>
                </header>
                <section id="content" class="page-content page-stores">
                    <article id="store-1" class="store-item card">
                        @foreach (var item in Model)
                        {


                            <div class="store-item-container clearfix">
                                <div class="col-md-3 store-picture hidden-sm-down">
                                    <img src="@item.image" alt="Dade County" title="Dade County">
                                </div>
                                <div class="col-md-5 col-sm-7 col-xs-12 store-description">
                                    <p class="h3 card-title">@item.fabric_name</p>
                                    <address>@item.fabric_address</address>
                                </div>
                                <div class="col-md-4 col-sm-5 col-xs-12 divide-left">
                                    <table>
                                        <tr>

                                            <td>
                                                <ul>
                                                    <li>@item.fabric_worktime</li>
                                                </ul>
                                            </td>


                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <footer id="about-1" class="collapse">
                                <div class="store-item-footer divide-top">
                                    <ul class="card-block">
                                    </ul>
                                </div>
                            </footer>
                        }
                    </article>
                  

                </section>
                <footer class="page-footer">
                </footer>
            </section>
        </div>
    </div>
</div>

