@model Vegan_Market.Models.Footer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Footer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descript_txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descript_txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location_txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location_txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location_head)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location_head)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_head)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_head)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.main_txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.main_txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.main_head)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.main_head)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.footer_menu_txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.footer_menu_txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menu_head)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menu_head)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
