@model Vegan_Market.Models.Footer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">

    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">

        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">



            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                    Add Footer
                </h1>
                <!--end::Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted text-hover-primary">
                            Home
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        Dinamic Pages
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        Footer
                    </li>
                    <!--end::Item-->

                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->

        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content  flex-column-fluid ">

        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()

            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container  container-xxl ">
                <form id="kt_ecommerce_add_category_form" class="form d-flex flex-column flex-lg-row" data-kt-redirect="categories.html">


                    <!--begin::Main column-->
                    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                        <!--begin::General options-->
                        <div class="card card-flush py-4">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <div class="card-title">
                                    <h2>General</h2>
                                </div>
                            </div>
                            <!--end::Card header-->
                            @Html.HiddenFor(model=>model.FooterId)
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <!--begin::Input group-->
                                <div class="mb-10 fv-row">
                                    <!--begin::Label-->
                                    <label class="required form-label">Descript Text</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    @Html.EditorFor(model => model.descript_txt, new { htmlAttributes = new { @class = "form-control", placeholder = "Desciption text" } })
                                    <!--end::Input-->
                                    <!--begin::Label-->
                                    <label class="required form-label">Location Head Text</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    @Html.EditorFor(model => model.location_head, new { htmlAttributes = new { @class = "form-control", placeholder = "Location head text or other things" } })
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <!--end::Description-->
                                    <!--begin::Label-->
                                    <label class="required form-label">Location Text</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    @Html.EditorFor(model => model.location_txt, new { htmlAttributes = new { @class = "form-control", placeholder = "Location description or other things" } })
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <!--end::Description-->
                                    <!--begin::Label-->
                                    <label class="required form-label">Account Head Text</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    @Html.EditorFor(model => model.account_head, new { htmlAttributes = new { @class = "form-control", placeholder = "Account head or other things" } })
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <!--end::Description-->
                                    <!--begin::Label-->
                                    <label class="required form-label">Account Text</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    @Html.EditorFor(model => model.account_txt, new { htmlAttributes = new { @class = "form-control", placeholder = "Account text or other things" } })
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <!--end::Description-->
                                    <!--begin::Label-->
                                    <label class="required form-label">Main Head Text</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    @Html.EditorFor(model => model.main_head, new { htmlAttributes = new { @class = "form-control", placeholder = "Main head or other things" } })
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <!--end::Description-->
                                    <!--begin::Label-->
                                    <label class="required form-label">Main Text</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    @Html.EditorFor(model => model.main_txt, new { htmlAttributes = new { @class = "form-control", placeholder = "Main text or other things" } })
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <!--end::Description-->
                                    <!--begin::Label-->
                                    <label class="required form-label">Footer  Menu head Text</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    @Html.EditorFor(model => model.menu_head, new { htmlAttributes = new { @class = "form-control", placeholder = "Menu head  or other things" } })
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <!--end::Description-->
                                    <!--begin::Label-->
                                    <label class="required form-label">Footer Menu  Text</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    @Html.EditorFor(model => model.footer_menu_txt, new { htmlAttributes = new { @class = "form-control", placeholder = "Menu text or other things" } })
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <!--end::Description-->
                                </div>
                                <!--end::Input group-->



                            </div>
                            <!--end::Card header-->
                        </div>
                        <!--end::General options-->



                        <div class="d-flex justify-content-end">
                            <!--begin::Button-->
                            <a href="@Url.Action("Index")" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">
                                Cancel
                            </a>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button type="submit" class="btn btn-primary">
                                <span class="indicator-label">
                                    Save Changes
                                </span>
                                <span class="indicator-progress">
                                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <!--end::Button-->
                        </div>
                    </div>
                    <!--end::Main column-->
                </form>
            </div>
            <!--end::Content container-->
        }
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->
